{% assign now = site.time | date: "%s" %}
{% assign current_year = site.time | date: "%Y" %}
{% assign current_month = site.time | date: "%m" %}

{% comment %} Calculate last Friday of current month {% endcomment %}
{% assign year = current_year | to_integer %}
{% assign month = current_month | to_integer %}
{% assign last_day = site.time | date: "%Y-%m-01" | date: "%s" | plus: 2678400 %}
{% assign last_friday = "" %}

{% comment %} This is simplified - you might want a plugin or JS for accurate calculation {% endcomment %}
{% assign meeting_date = "2024-03-29T13:00:00+00:00" %} {% comment %} Hardcode next meeting or use JS {% endcomment %}
{% assign meeting_timestamp = meeting_date | date: "%s" %}
{% assign seconds_left = meeting_timestamp | minus: now %}
{% assign days_left = seconds_left | divided_by: 86400 | floor %}
{% assign hours_left = seconds_left | modulo: 86400 | divided_by: 3600 | floor %}
{% assign minutes_left = seconds_left | modulo: 3600 | divided_by: 60 | floor %}