<div style="display: flex; flex-direction: column; gap: 10px; align-items: flex-start;">

    <!-- Row 1 -->
    <div style="display: flex; gap: 12px; align-items: center;">
      <img src="{{ '/assets/img/iie.png' | relative_url }}" height="40">

    </div>
  
    <!-- Row 2 -->
    <div style="display: flex; gap: 12px; align-items: center;">
        <img src="{{ '/assets/img/ies.png' | relative_url }}" height="40">
        
    </div>
  
    <div style="display: flex; gap: 12px; align-items: center;">
        <img src="{{ '/assets/img/esala.png' | relative_url }}" height="40">
        
    </div>
  
  </div>
  